<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-title>Minha Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item><ion-icon name="list"></ion-icon>Dados Cadastrais</ion-item>

  <p>Nome: Fulano de Tal</p>
  <p>Sexo: Masculino</p>
  <p>Data de Nascimento: 15/09/1998</p>
  <p>Email: fulano@email.com</p>
  <p>Telefone: (68)99912-3456</p>
<ion-item><ion-icon name="pin"></ion-icon>Dados Cadastrais</ion-item>
  <p>Logradouro: Rua União</p>
  <p>Número: 180</p>
  <p>Bairro: Vila do Rio</p>
  <p>Cidade: Rio Branco</p>
  <p>CEP: 69909900</p>
  <ion-button size="large" expand="block" >Alterar Dados</ion-button>
</ion-content>
