<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-card>
      <p>PEDIDO Nº 0001</p>
      <p>NOME: Fulano de Tal</p>
      <p>TELEFONE: (68) 99912-3456</p>
      <p>ENEDEREÇO: Rua União, 180</p>
      <p>BAIRRO: Vila da Baixada - 699</p>
      <ion-item>
        <ion-label>Pegar</ion-label>
        <ion-checkbox color="primary" ></ion-checkbox>
      </ion-item>
    </ion-card>
    <ion-card>
      <p>PEDIDO Nº 0001</p>
      <p>NOME: Fulano de Tal</p>
      <p>TELEFONE: (68) 99912-3456</p>
      <p>ENEDEREÇO: Rua União, 180</p>
      <p>BAIRRO: Vila da Baixada - 699</p>
      <ion-item>
        <ion-label>Pegar</ion-label>
        <ion-checkbox color="primary" ></ion-checkbox>
      </ion-item>
    </ion-card>
    <ion-card>
      <p>PEDIDO Nº 0001</p>
      <p>NOME: Fulano de Tal</p>
      <p>TELEFONE: (68) 99912-3456</p>
      <p>ENEDEREÇO: Rua União, 180</p>
      <p>BAIRRO: Vila da Baixada - 699</p>
      <ion-item>
        <ion-label>Pegar</ion-label>
        <ion-checkbox color="primary" ></ion-checkbox>
      </ion-item>
    </ion-card>
    <ion-card>
      <p>PEDIDO Nº 0001</p>
      <p>NOME: Fulano de Tal</p>
      <p>TELEFONE: (68) 99912-3456</p>
      <p>ENEDEREÇO: Rua União, 180</p>
      <p>BAIRRO: Vila da Baixada - 699</p>
      <ion-item>
        <ion-label>Pegar</ion-label>
        <ion-checkbox color="primary" ></ion-checkbox>
      </ion-item>
    </ion-card>
  </ion-content>
